{% extends 'layout.twig' %}


{% block content %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<h5>Admin page</h5>
<div class="row">
  <!-- articles dashboard -->
  <div class="d-flex flex-row flex-wrap justify-content-around" style="width:64%;">
      {% for i in display_all_article %}
        <div class="card mb-2 ml-2" style="width: 16rem;">
          <div class="card-body">
            <h5 class="card-title text-muted" >{{ i.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ i.title }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{i.date}}</h6>
            <div class="text-left d-inline">
              <button type="submit" class=" btn-edit d-inline btn-sm" data-toggle="modal" data-target="#editModal{{i.id}}">Edit Article</button>
              <form method="post" action="{{ path_for('delete_article_dash',{'id':i.id}) }}" class="mt-2 mb-2 d-inline">
                <button type="submit" class="btn-delete btn-sm" name="delete">Delete Article</button>
              </form>
            </div>
          </div>
        </div>

      <!-- Modals comments -->
      <div class="modal fade" id="articleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="card text-center mb-4">
                <div class="card-header">
                  {{ i.username }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.content }}</p>
                </div>
                <div class="card-footer text-muted">
                  {{ i.date }}
                </div>
                {% if curl_result.label is defined %}
                  <h5 class="text-left mt-2">Add a new comment</h5>
                  <form method="post" action="{{ path_for('comment',{'id':i.id}) }}">
                    <textarea type="text" name="commentary" class="form-control" placeholder="Type your comment here..." cols="30" rows="2"></textarea>
                    <p><input type="submit" class="btn btn-primary btn-sm mt-1" name="comment"></input></p>
                  </form>
                {% endif %}
                <h5 class="text-left"> Comments: </h5>
                  {% for j in display_comments %}
                    {% if i.id == j.article_id %}
                      <div class="card border-secondary mb-3">
                        <div class="card-body">
                          <p class="card-text text-left">{{j.content}}</p>
                        </div>
                        <div class="card-footer bg-transparent text-right">
                        {% if curl_result.label == 3 %}
                          <form method="post" action="{{ path_for('delete_comment',{'id':j.id}) }}" class="mt-2 mb-2 text-left d-inline">
                            <button type="submit" class="btn-delete btn-sm" name="delete">Delete comment</button>
                          </form>
                        {% endif %}
                        <p class="d-inline">{{j.username}} {{j.date}}</p></div>
                      </div>
                    {% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modals edit -->
      <div class="modal fade" id="editModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="card text-center mb-4">
                <div class="card-header">
                  <h3>Article edition</h3>
                </div>
                <div class="card-body">
                  <form method="post" action="{{ path_for('edit_dash',{'id':i.id}) }}">
                    <h5>New title</h5>
                    <input type="text" class="form-control form-control-sm col-3 d-inline" name="title" value="{{ i.title }}"></input>
                    <h5 class="mt-3">New content</h5>
                    <textarea type="text" name="content" class="form-control" cols="55" rows="7.5">{{ i.content }}</textarea>
                    <p><input  type="submit" class="btn btn-primary btn-sm mt-2" name="edit"></input></p>
                  </form>
                </div>
                <div class="card-footer text-muted">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
  <!-- authors dashboard -->
  <div class="" style="width:30%;">
    <ul>
      <form action="{{path_for('confirm-users')}}" method="post" name="confirmUsers">
      	{% for i in user_view %}
        {% set counter = ( counter | default(0) ) + 1 %}
          {% if i.user_label != "admin" %}
            <li>
          		<div class="card text-center mb-4">
          			<div class="card-header">
          				{{ i.username }}
                    {% if i.user_label == "user" %}
                    <INPUT TYPE="radio" name="rad-{{ counter }}" VALUE="{{ i.id }}::1" checked="checked">User
                    <INPUT TYPE="radio" name="rad-{{ counter }}" VALUE="{{ i.id }}::2">Author
                    {% set inc = inc + 1 %}
                    {% elseif i.user_label == "author" %}
                    <INPUT TYPE="radio" name="rad-{{ counter }}" VALUE="{{ i.id }}::1">User
                    <INPUT TYPE="radio" name="rad-{{ counter }}" VALUE="{{ i.id }}::2" checked="checked">Author
                    {% set inc = inc + 1 %}
                    {% endif %}
          			</div>
          		</div>
          	</li>
          {% endif %}
      	{% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit" target="_blank">
      </form>
    </ul>
  </div>
</div>
{% endblock %}
