{% extends 'layout.twig' %}


{% block content %}

  <p>Homepage</p>

  <ul>
  	{% for i in display_article %}

  	<li>
  		<div class="card text-center mb-4">
  	<li> 
  		<div class="card text-left mb-4">
  			<div class="card-header">
  				{{ i.username }} 
  			</div>
  			<div class="card-body">
  				<h5 class="card-title text-center">{{ i.title }}</h5>
  				<p class="card-text">{{ i.content }}</p>
  			</div>
  			<div class="card-footer text-muted text-right">
  				{% if curl_result.label == 3 %}
	  				<form method="put" action="edit_article" class="mt-2 text-left">
	  					<button type="submit" class="btn btn-success" name="edit">Edit Article</button>
	  				</form>
	  				<form method="delete" action="delete_article" class="mt-2 mb-2 text-left">
	  					<button type="submit" class="btn btn-danger" name="delete">Delete Article</button>
	  				</form>
  				{% endif %}
  				<a href="#" class="mr-2"  data-toggle="modal" data-target="#articleModal{{i.id}}">show comments</a> {{ i.date }}
  			</div>
  		</div>
	   </li>
  	</li>

  	<!-- Modal -->
  	<div class="modal fade" id="articleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
  			<div class="modal-content">
  				<div class="modal-body">
  					<div class="card text-center mb-4">
  						<div class="card-header">
  							{{ i.username }}
  						</div>
  						<div class="card-body">
  							<h5 class="card-title">{{ i.title }}</h5>
  							<p class="card-text">{{ i.content }}</p>
  						</div>
  						<div class="card-footer text-muted">
  							{{ i.date }}
  						</div>
  						{% for j in display_comments %}
  							{% if i.id == j.article_id %}
	  							{{j.content}}
	  							{{j.username}}{{i.date}}
	  						{% endif %}
  						{% endfor %}

  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	{% endfor %}
  </ul>

  

{% endblock %}
