{% extends 'layout.twig' %}


{% block content %}

  <p>Homepage</p>

  <ul>
  	{% for i in display_article %}

  	<li>
  		<div class="card text-center mb-4">
  	<li> 
  		<div class="card text-left mb-4">
  			<div class="card-header">
  				{{ i.username }} 
  			</div>
  			<div class="card-body">
  				<h5 class="card-title text-center">{{ i.title }}</h5>
  				<p class="card-text">{{ i.content }}</p>
  			</div>
  			<div class="card-footer text-muted text-right">
  				{% if curl_result.label == 3 %}

	  				<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#editModal{{i.id}}">Edit Article</button>
	  				
	  				<form method="post" action="{{ path_for('delete_article',{'id':i.id}) }}" class="mt-2 mb-2 text-left">
	  					<button type="submit" class="btn btn-danger" name="delete">Delete Article</button>
	  				</form>
  				{% endif %}
  				<a href="#" class="mr-2"  data-toggle="modal" data-target="#articleModal{{i.id}}">show comments</a> {{ i.date }}
  			</div>
  		</div>
	   </li>
  	</li>

  	<!-- Modals -->
  	<div class="modal fade" id="articleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  		<div class="modal-dialog modal-lg" role="document">
  			<div class="modal-content">
  				<div class="modal-body">
  					<div class="card text-center mb-4">
  						<div class="card-header">
  							{{ i.username }}
  						</div>
  						<div class="card-body">
  							<h5 class="card-title">{{ i.title }}</h5>
  							<p class="card-text">{{ i.content }}</p>
  						</div>
  						<div class="card-footer text-muted">
  							{{ i.date }}
  						</div>
  						<h5 class="text-left"> comments: </h5>
  						{% for j in display_comments %}
  							{% if i.id == j.article_id %}
		  						<div class="card border-secondary mb-3">
		  							<div class="card-body">
		  								<p class="card-text text-left">{{j.content}}</p>
		  							</div>
		  							<div class="card-footer bg-transparent text-right">
		  							{% if curl_result.label == 3 %}
		  								<form method="post" action="{{ path_for('delete_comment',{'id':j.id}) }}" class="mt-2 mb-2 text-left">
						  					<button type="submit" class="btn btn-danger" name="delete">Delete comment</button>
						  				</form>
		  							{% endif %}
		  							{{j.username}}{{i.date}}</div>
		  						</div>
	  						{% endif %}
  						{% endfor %}
  						{% if curl_result.label is defined %}
  						<form method="post" action="{{ path_for('comment',{'id':i.id}) }}">
  							<textarea type="text" name="commentary" placeholder="Type your comment here..." cols="45" rows="5"></textarea>
  							<p><input type="submit" name="comment"></input></p>
  						</form>
  						{% endif %}
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="modal fade" id="editModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  		<div class="modal-dialog modal-lg" role="document">
  			<div class="modal-content">
  				<div class="modal-body">
  					<div class="card text-center mb-4">
  						<div class="card-header">
  							<h3>Article edition</h3>
  						</div>
  						<div class="card-body">
  							<form method="post" action="{{ path_for('edit',{'id':i.id}) }}">
	  							<h5>New title</h5>
	  							<input type="text" name="title" value="{{ i.title }}"></input>
	  							<h5 class="mt-3">New content</h5>
	  							<textarea type="text" name="content" cols="55" rows="7.5">{{ i.content }}</textarea>
	  							<p><input  type="submit" class="btn btn-primary btn-sm" name="edit"></input></p>
  							</form>
  						</div>
  						<div class="card-footer text-muted">
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	{% endfor %}
  </ul>

  

{% endblock %}
